html 
head    
    title Show| Staff 
    link(rel="stylesheet", href="/stylesheets/style.css")
body
  .container2
    table
      tr
        th First Name
        th Last Name
        th E-mail
        th Phone Number
        th Gender
        th Salary
        th Delete
        th Update

      tr
        td John
        td Doe
        td johndoe@example.com
        td (123) 456-7890
        td Male
        td $50,000
        td
          button(style="padding: 7px;") Delete
        td
          button(style="padding: 7px;") Update

      tr
        td John
        td Doe
        td johndoe@example.com
        td (123) 456-7890
        td Male
        td $50,000
        td
          button(style="padding: 7px;") Delete
        td
          button(style="padding: 7px;") Update

  script(src="./index.js")
