html 
head    
    title Update | Staff 
    link(rel="stylesheet", href="/stylesheets/style.css")
body(style="grid-template-columns: auto;")
  .btnholder
    form(action="/edit",method ="post", class="container")
      div.data
        small First Name
        input#fn(required, type="text" ,name="fname")

      div.data
        small Last Name
        input#ln(required, type="text" ,name="lname")

      div.data
        small E-mail
        input(required, type="text" ,name="mail")

      div.Number
        small Phone Number
        input(required, type="text" ,name="phone")

      div.data(style="display: inline-flex;")
        small Gender:
        div.data(style="margin-left: 90px;")
          small Male
          input(required, type="radio")

        div.data(style="margin-left: 90px;")
          small Female
          input(required, type="radio")

      div.data
        small Salary
        input(required, type="text" ,name="salary")

      button.btn(type="submit") Update
      button(type="reset") Reset
    button.submit(type="button", id="add", onclick="window.location.href='/'")  Home
    button.submit(type="button", id="add", onclick="window.location.href='/show'") Show All

